:root {
  --app-blue: #3CA3EE;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.spinner {
  border: 16px solid #3498db;
  border-top: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.custom-swal-popup {
  background-color: #ffffff; 
  border: 8px solid #6086c0 !important; /* Replace with your desired border style */
  border-radius: 10px !important; /* Adjust border radius if needed */
}

.custom-swal-title {
  color: #000000; 
}

.custom-swal-text {
  color: #ffffff; 
}

div.unit-card:hover {
  box-shadow: 3px 3px 5px rgb(153, 153, 153);
  transition: 0.8s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.App-page {
  background-color: var(--app-blue);
  align-items: center;
  justify-content: center;
}

